<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="DatabaseConnectionString" />
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=FabioNB;Initial Catalog=EMPLEADOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="DatabaseConnectionString" connectionString="Initial Catalog=BD_GRLL; Data Source= 10.10.31.11; User ID=sa; Password =sqlexpress" providerName="System.Data.SqlClient"/>-->
    <!--Conexión Local Bender-->
    <!--<add name="DatabaseConnectionString" connectionString="Initial Catalog=BD_GRLL; Data Source= .; User ID=sa; Password =900709" providerName="System.Data.SqlClient"/>-->
    <add name="DatabaseConnectionString2" connectionString="Initial Catalog=CMI; Data Source= 10.10.23.214; User ID=FunDeveloper; Password =exodian" providerName="System.Data.SqlClient"/>
    <!--<add name="DatabaseConnectionString2" connectionString="Initial Catalog=CMI; Data Source= 10.10.31.11; User ID=sa; Password =sqlexpress" providerName="System.Data.SqlClient"/>-->
    <!--CADENA DE CONEXION PARA EL SIGA A NIVEL DE DEMO-->
    <add name="DatConStrSIGA" connectionString="Initial Catalog=SIGA_831_DEMO; Data Source= 10.10.31.23; User ID=siga_mef; Password =siga831" providerName="System.Data.SqlClient"/>
    <!--CADENA DE CONEXION PARA EL SIGA A NIVEL DE PRODUCCION DE CAMBIOS REALES-->
    <add name="DatConStrSIGAPRODUCCION" connectionString="Initial Catalog=SIGA_831; Data Source= 10.10.31.23; User ID=siga_mef; Password =siga831" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>