
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-content">
    <div class="container-fluid">
        <h2>Bienvenido</h2>

    </div> <!-- container-fluid -->
</div>


