
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from myrathemes.com/drezoc/vertical-dark/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Oct 2019 05:06:56 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Drezoc - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    @*<link rel="shortcut icon" href="assets/images/favicon.ico">*@

    <!-- App css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/css/theme.min.css" rel="stylesheet" />
</head>

<body>

    <div class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center">
                                            @*<a href="index.html" class="d-block mb-5">
                                                    <img src="assets/images/logo-dark.png" alt="app-logo" height="18" />
                                                </a>*@
                                        </div>
                                        <h1 class="h5 mb-1">Bienvenido</h1>
                                        <p class="text-muted mb-4">Ingrese su Nombre de ususario y Clave para acceder.</p>
                                        <form class="user" id="frmUser">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="usuario" placeholder="Usuario">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="clave" placeholder="Clave">
                                            </div>
                                            <a id="btnLogin" class="btn btn-success btn-block"> Iniciar Sesión </a>

                                            @*<div class="text-center mt-4">
                                                    <h5 class="text-muted font-size-16">Sign in using</h5>

                                                    <ul class="list-inline mt-3 mb-0">
                                                        <li class="list-inline-item">
                                                            <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>*@
                                            <br />
                                            <div id="resultado"></div>

                                        </form>

                                        @*<div class="row mt-4">
                                                <div class="col-12 text-center">
                                                    <p class="text-muted mb-2"><a href="auth-recoverpw.html" class="text-muted font-weight-medium ml-1">Forgot your password?</a></p>
                                                    <p class="text-muted mb-0">Don't have an account? <a href="auth-register.html" class="text-muted font-weight-medium ml-1"><b>Sign Up</b></a></p>
                                                </div>
                                            </div>*@
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- jQuery  -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/metismenu.min.js"></script>
    <script src="~/Content/js/waves.js"></script>
    <script src="~/Content/js/simplebar.min.js"></script>
    <script src="~/Content/js/theme.js"></script>

</body>


<!-- Mirrored from myrathemes.com/drezoc/vertical-dark/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Oct 2019 05:06:56 GMT -->
</html>

<script>
    $("#frmUser").on("click", "#btnLogin", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "../Iniciar_Sesion/IniciarSesion",
            data: {
                Nombre: $("#frmUser #usuario").val(),
                Clave: $("#frmUser #clave").val(),
            },
            success: function (rpta) {
                if (rpta == "1") {
                    window.location.href = '../Iniciar_Sesion/Index'
                } else {
                    alert("Usuario o Clvae Incorrectos")
                }
            },
            error: function (data) {
                alert('Se ha producido un error conocido Editar.', 'Mensaje de Error');
            }
        });
    });
</script>
